{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Event list</h1>

        <table class="records_list table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.lat }}</td>
                    <td>{{ entity.lon }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.description }}</td>
                    <td>

                        <a href="{{ path('event_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default"type="button">View</a>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default"type="button">Edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <form class="col-lg-12">
            <div class="input-group">

                    <span class="input-group-btn"><a href="{{ path('event_new') }}" class="btn btn-lg btn-default"
                                                     type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Event</a></span>
            </div>
        </form>
    </div>
{% endblock %}
